<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @cocktail.name.capitalize %></h1>
      <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
      <table class="table table-bordered">
        <tbody>
          <table>
           <tr>
             <th>Ingredients</th>
           </tr>
           <% @cocktail.doses.each do |dose| %>
           <tr>
             <td><%= Ingredient.find(dose.ingredient_id).name %></td>
             <td><%= dose.description %></td>
           </tr>
           <% end %>
          </table>
        </tbody>
      </table>
      <h3>Add an Ingredient</h3>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient, :collection => Ingredient.all %>
          <%= f.input :description %>
          <%= f.input :cocktail_id, :as => :hidden, :input_html => { :value => @cocktail.id } %>
          <%= f.button :submit %>
        <% end %>
      <h3>What do Wagons think about it?</h3>
      <h4><%= link_to "Add a review", new_cocktail_review_path(@cocktail) %></h4>
      <% @cocktail.reviews.each do |review| %>
      <ul>
        <li>
          <%= review.rating %>
          <%= review.content %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
